.custom-input {
  width: auto;
}

.add-button {
  margin: 20px auto;
}

.card-custom {
  height: 100%;

  .card-body {
    padding: 1rem;
  }
}

.recipe {
  .details {
    .instructions {
      p {
        margin-bottom: 0;
      }
    }
  }
}
