.week-plan-list {
  .list-item {
    color: black;

    li {
      padding: 1.25rem;

      h5 {
        margin-bottom: 0;
      }
    }

    li:hover {
      background-color: lightgray;
      color: black;
      text-decoration: none;
    }
  }
}
